/* ************Classe animation****************** */
.opacity {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.displayNone {
    display: none;
}

/* ************************************************/



body {
    margin: 0;
    padding: 0;
}

span {
    margin: 0;
    padding: 0;
}

.containerLoader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: calc(50px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.788)), url(bruit.gif);
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    filter: blur(1.5px);
}


#chargement {
    display: flex;
    align-items: baseline;
    height: 15vh;
}

.chargement {
    position: relative;
    color: url(/bruit.gif);
    -webkit-text-stroke: 0vw #383d52;
    width: 100%;
    text-shadow:
        0 0 10px rgba(245, 74, 208, 0.7),
        0 0 40px rgba(255, 131, 208, 0.7),
        0 0 100px rgba(115, 0, 255, 0.675);
}

.chargement::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    color: #EE79ED;
    -webkit-text-stroke: 0vw #d7e2ea;
    overflow: hidden;
    animation: remplir 2s ease-in-out alternate infinite;
    text-shadow: none;
}


@keyframes remplir {
    0% {
        width: 0%;

    }
    50% {
        width: 80%
    }
    70% {
        width: 60%;
    }
    100% {
        width: 98%;
    }
}

.tvContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 25%;
}

#writter {
    color: #d7e2ea;
    transition: all 0.2s ease-in-out;
    padding-top: 35px;
}

/* neon */
.neonText2 {
    color: #fee;
    text-shadow: 0 0px 0px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
}



.neonText2 span:nth-child(1) {
    animation: neon1 1.4s  0.2s infinite ease-in-out;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.neonText2 span:nth-child(2) {
    animation: neon1 1.4s  .3s infinite ease-in-out;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.neonText2 span:nth-child(3) {
    animation: neon1 1.4s  4.4s infinite ease-in-out;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.neonText2 span:nth-child(4) {
    animation: neon1 1.4s  0.5s infinite ease-in-out;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.neonText2 span:nth-child(5) {
    animation: neon1 1.4s  3.6s infinite ease-in-out;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.neonText2 span:nth-child(6) {
    animation: neon1 1.4s  1.7s infinite ease-in-out;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.neonText2 span:nth-child(7) {
    animation: neon1 1.4s  2.8s infinite ease-in-out;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

/* @keyframes neon1 {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  } */

  @keyframes neon1 {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }


/* @keyframes neon1 {
    from {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #bc13fe,
            0 0 80px #bc13fe,
            0 0 90px #bc13fe,
            0 0 0px #bc13fe,
            0 0 0px #bc13fe;

    }

    to {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #bc13fe,
            0 0 45px #bc13fe,
            0 0 55px #bc13fe,
            0 0 0px #bc13fe,
            0 0 0px #bc13fe;
    }
} */

#popSvg {
    overflow: visible;
    transition: all 0.5s ease-in-out;
}

#popCorn {
    height: 45vh;
    overflow: visible;
    width: 50vw;
    transition: all 0.5s ease-in-out;
}

.pop {
    animation: pop 1s linear infinite alternate;
    filter: drop-shadow(0px 0px 10px #d7e2ea);


}

@keyframes pop {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(0, -8%)
    }

}

.popTrait1,
.popTrait3 {
    stroke: rgb(255, 189, 189);
    fill: whitesmoke;
    filter: drop-shadow(0px 0px 10px #d7e2ea);
}

.popTrait2,
.popTrait4 {
    stroke: rgb(255, 73, 73);
    fill: rgb(255, 43, 43);
    filter: drop-shadow(0px 0px 10px #d7e2ea);
}

.containerPop {
    stroke: #d7e2ea;
    fill: rgba(0, 0, 0, 0.673);
    filter: drop-shadow(0px 0px 10px #d7e2ea);
}

@media screen and (max-width : 800px) {
    .neonText2 {
        font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    }
}