/* ************Classe animation****************** */


/* ************************************************/

body{
    margin: 0;
    padding: 0;

}

.containerLoader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"roboto" sans-serif;
    font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
   background: linear-gradient(to right, rgba(0, 0, 0, 0.908), rgba(0, 0, 0, 0.948)), url(bruit.gif);

    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    filter: blur(1.80px);
}


#chargement{
    display: flex;
    align-items: baseline;
    height: 15vh;
}

.chargement{
    position: relative;
color : url(/bruit.gif);
-webkit-text-stroke: 0vw #383d52;
width: 100%;
padding-bottom: 50px;
text-shadow:
0 0 10px rgba(255, 242, 0, 0.7),
0 0 40px rgba(255, 255, 0, 0.7),
0 0 100px rgba(255, 238, 0, 0.7);
}
 .chargement::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    color: #d7e2ea;
    -webkit-text-stroke: 0vw #d7e2ea;
    border-right: 2px solid #04356a;
    overflow: hidden;
    animation: remplir 2s ease-in-out alternate infinite;
    text-shadow: none;
 }


 @keyframes remplir{
    0%{
        width: 0%;
        
    }
    50%{
        width: 80%
    }
   70%{
        width: 60%;
    }
    100%{
        width: 100%;
    }
 }

 /* .dotContainer{
    display: flex;
    gap: 5px;
    width: 100px;
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
 .dotLoader{
font-size: 1vw;
    transition: all 0.5s ease-in-out;
 } */

/* .dotContainer div:nth-child(1){
    animation: dot1 .4s alternate 0.2s infinite ease-in-out
}

.dotContainer div:nth-child(2){
    animation: dot1  .4s alternate 0.3s infinite ease-in-out
}

.dotContainer div:nth-child(3){
    animation: dot1  .4s alternate 0.4s infinite ease-in-out
} */

@keyframes dot1 {
    from {
        transform: translateY(0%) ;
        box-shadow: none;
    }

    to {
        transform: translateY(-150%);

    }
}


.tvContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 25%;
}


#writter{
    color: #d7e2ea;
    /* font-size: 1.8rem; */
}

